<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <title> {% block title %} InfoSystemApp {% endblock %} </title>
</head>
<body>
    <header class="p-2 text-bg-light">
        <div class="container">
          <div class="d-flex flex-wrap flex-md-row align-items-center justify-content-center justify-content-lg-start">
            <div class="mt-1">
                <a class="text-dark no-underline" style="text-decoration: none;" href="{% url 'home' %}"> <h5> InfoSystemApp </h5> </a>
            </div>
            <ul class="nav col-2 col-lg-auto me-lg-auto justify-content-center">
              <li><a href="#" class="nav-link text-dark"> FAQ </a></li>
              <li><a href="#" class="nav-link text-dark"> О данной системе </a></li>
            </ul>
    
            <div class="text-end">
              {% if user.is_authenticated == False %}
                <div class="mr-lg-auto">
                    <a class = "btn btn-outline-dark"  href="{% url 'auth' %}"> Авторизация </a>
                    <a class = "btn btn-warning"  href="{% url 'sign-up' %}"> Регистрация </a>
                </div>
              {% else %}
                <div class="mr-lg-auto">
                  <a class = "btn btn-outline-dark"  href="{% url 'groups' %}"> Группы устройств </a>
                  <a class = "btn btn-warning"  href="{% url 'logout' %}"> Выйти </a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </header>
    <div class="d-flex align-items-center justify-content-center">
        <h1> Информационная система учёта устройств IoT </h1>
    </div>
    <div class="container"> 
        {% block content %} 
          {% if user.is_authenticated %}
            <div class="d-flex align-items-center justify-content-center">
              <h4>Добро пожаловать, {{ user.username }}!</h4>
            </div>
          {% else %}
            <p> Вы ещё не вошли в систему. </p>
          {% endif %}
        {% endblock %}
    </div>
</body>
</html>