{% extends 'InfoSystem/base.html' %}

{% block title %} Удаление устройства "{{device.device_name}}" из группы "{{group.device_group_name}}" {% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center">
    <h2> Удаление устройства "{{device.device_name}}" из группы "{{group.device_group_name}}" </h2>
</div><br>

<form method="POST">
    {% csrf_token %}
    <p> Вы уверены, что хотите удалить устройство "{{ device.device_name }}" из группы "{{group.device_group_name}}"? </p>
    <button type="submit" class="btn btn-warning" style="display: inline;"> Удалить </button>
    <a class="btn btn-outline-dark" href="{% url 'show-device' group.device_group_id device.device_id %}"> Назад </a>
</form>

{% endblock %}
