{% extends 'InfoSystem/base.html' %}

{% block title %} Восстановление пароля {% endblock %}

{% block content %}
    <div class="d-flex align-items-center justify-content-center">
        <h2> Восстановление пароля </h2>
    </div><br>

    <div class="d-flex align-items-center justify-content-center">
       <p class="text-dark"> Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию по установке нового пароля. </p>
    </div>

    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {% if field.errors %}
                    <div class="text-danger font-weight-bold">
                        {{ field.errors|join:", " }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        {{ form.email }}<br>
        <button type="submit" class="btn btn-warning" style="display: inline;"> Отправить письмо </button>

{% endblock %}
